@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Akzidendz;
        font-weight: 700;
        font-style: normal;
        src: url('/fonts/AkzidenzGroteskPro-BoldEx.otf') format('opentype');
    }
    @font-face {
        font-family: Akzidendz;
        font-weight: 500;
        font-style: normal;
        src: url('fonts/AkzidenzGroteskPro-Md.otf') format('opentype');
    }
    @font-face {
        font-family: Akzidendz;
        font-weight: 400;
        font-style: normal;
        src: url('/fonts/AkzidenzGroteskPro-Regular.otf') format('opentype');
    }

    html {
        font-family: Akzidendz, system-ui, sans-serif;
    }
}

@layer components {
    .logo {
        @apply text-2xl sm:text-4xl md:text-5xl font-bold	
    }
    .sublogo {
        @apply text-xl font-normal	
    }
    .logo-sm {
        @apply text-xl
    } 
    .placeholder-wrapper {
        @apply flex flex-row justify-center
    }
    .letter {
        @apply mx-2 text-3xl font-medium
    }
    .button-primary {
        @apply flex justify-center items-center bg-slate-200 dark:bg-indigo-500 enabled:dark:hover:bg-indigo-600 enabled:hover:bg-slate-300 
        rounded-md font-medium px-5 py-2 disabled:opacity-20 disabled:cursor-not-allowed
    }
    .button-secondary {
        @apply border border-black rounded-md hover:bg-slate-100 dark:border-white dark:hover:bg-zinc-600
    }
    .keyboard {
        @apply max-w-2xl mt-5 flex justify-center flex-wrap
    }
    .keyboard-button {
        @apply w-10 h-10 sm:w-14 sm:h-14 m-1 sm:m-2
    }
    .hangman-img {
        @apply h-32 w-32 sm:h-60 sm:w-60
    }
    .result-header {
        @apply text-2xl font-bold mt-4
    }
    .result-header.win {
        @apply text-lime-600
    }
    .result-header.lose {
        @apply text-red-600
    }
    .result-word {
        @apply font-medium uppercase
    }
    
}