@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Akzidendz;
        font-weight: 700;
        font-style: normal;
        src: url('/fonts/AkzidenzGroteskPro-BoldEx.otf') format('opentype');
    }
    @font-face {
        font-family: Akzidendz;
        font-weight: 500;
        font-style: normal;
        src: url('fonts/AkzidenzGroteskPro-Md.otf') format('opentype');
    }
    @font-face {
        font-family: Akzidendz;
        font-weight: 400;
        font-style: normal;
        src: url('/fonts/AkzidenzGroteskPro-Regular.otf') format('opentype');
    }

    html {
        font-family: Akzidendz, system-ui, sans-serif;
    }
}

@layer components {
    .placeholder-wrapper {
        @apply flex flex-row
    }
    .letter {
        @apply mx-2 text-3xl font-medium
    }
}